/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    max-width: 80%;
    width: 80%;
    padding: 30px;
    border: 2px solid #f72d84;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 4px 10px rgba(233, 233, 233, 0.1);
}

/* Logo Styling */
.logo {
    width: 635px;
    height: 150px;
    margin: 0 auto 20px; /* Centers horizontally */
    background-image: url('../background/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.print-body {
    margin-top: 20px;
}

.message {
    color: #777;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

.confirm-button {
    margin-top: 20px;
    padding: 12px 24px;
    background-color:#f72d84;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px;
    border-radius: 20px;
    transition: background-color 0.3s;
    width: 20%; /* Reduced width */
}

.confirm-button:hover {
    background-color: #f72d84;
}