<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/print.css">   
    <title>HomeCentre - Print</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo"></div>
        </div>

        <div class="print-body">
            <p class="message">HER contributions, counted.</p>
            <p class="message">Because SHE is the heart of every home.</p>
            <button class="confirm-button" id="review-confirm-btn">Tap to Print </button>
        </div>
    </div>
</body>
</html>
